.wrapper {
  background-color: rgb(219, 219, 219);
  width: 200px;
  height: 650px;
}

.headingOne,
.headingThree {
  padding-top: 1rem;
  text-align: center;
}

.messageCriticallyLow {
  text-align: center;
  padding: 0 0.5rem;
  margin-top: -10px;
}
