.mainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headingOne {
  text-align: center;
}

.componentsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}
